<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главное меню</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="menu-container">
    <h2>Главное меню</h2>

    <a class="menu-button" href="/new">🗡 Новая игра</a>
    <a class="menu-button" href="/load-list">📜 Загрузить игрока</a>
    <a class="menu-button" href="/rules">📖 Правила игры</a>

    <img src="/static/images/menu.jpg" alt="Король">
  </div>
</div>
</body>
</html>