<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Создание персонажа</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
  <h2>Создание нового героя</h2>
  <form action="/new" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="skill">Навык:</label>
    <select name="skill" id="skill">
      <option value="Тайный удар шпагой">Тайный удар шпагой</option>
      <option value="Шпага и кинжал">Бой шпагой и кинжалом</option>
      <option value="Два пистолета">Стрельба из двух пистолетов</option>
      <option value="Левая рука">Фехтование левой рукой</option>
      <option value="Плавание">Плавание</option>
    </select><br><br>

    <button type="submit">🎮 Начать игру</button>
  </form>
</div>
</body>
</html>
